
   

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Add Products</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_form_inner">

                    <div class="table-responsive">      
                    <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Model No</th>
                        <th>Company</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let items of productss; let i = index'>
                        <td>{{i+1}}</td>
                        <td>{{items.name}}</td>
                        <td>{{items.price}}</td>
                        <td>{{items.modelno}}</td>
                        <td>{{items.company}}</td>
                        <td><button (click)='del(i)'>X</button></td>
                        
                      </tr>
                    </tbody>
                  </table>
                    </div>
                
                </div>
                <div class="col-md-12 form-group">
                    <button (click)=save() type="button" class="primary-btn">Save</button>
                    
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Add Products</h3>
                    <form class="row login_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" #name>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="number" class="form-control" id="name" name="name" placeholder="Price" required onfocus="this.placeholder = ''" onblur="this.placeholder = 'Price'" #price>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="number" class="form-control" id="name" name="name" placeholder="Model No" required onfocus="this.placeholder = ''" onblur="this.placeholder = 'Model No'" #model>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Company" required onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company'" #company>
                        </div>
                        <div class="col-md-12 form-group">
                            <input (change)="addImg($event)" type="file" class="form-control" id="name" name="name" placeholder="Picture" accept=".jpg" onfocus="this.placeholder = ''" onblur="this.placeholder = 'File'">
                        </div>
                       
                    
                        <div class="col-md-12 form-group">
                            <button (click)="add(name,price,model,company)" type="button" class="primary-btn">Add</button>
                            
                            
                        </div>
                    </form>
                    <img src={{image}}>
                    {{load | async}}
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
